---
import PageLayout from "@layouts/PageLayout.astro";
import { SITE, SOCIALS } from "@consts";
import TwinklingStars from "@components/TwinklingStars.astro";
import MeteorShower from "@components/MeteorShower.astro";
import TabsComponent from "@components/TabComponent";
import ParallaxScrollComp from "@components/ParallaxScrollComp.astro";
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-black hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div
      id="planetcont"
      class="animate absolute inset-0 top-1/4 overflow-hidden"
    >
      <div
        id="crescent"
        class="absolute top-3/4 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%"
      >
        <div
          id="planet"
          class="w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center"
        >
          <div
            id="blur"
            class="w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl"
          >
          </div>
        </div>
      </div>
    </div>
    <div
      class="animate absolute h-full w-full flex items-center justify-center"
    >
      <div class="relative w-full h-full flex items-center justify-center">
        <div class="p-5 text-center space-y-5">
          <!-- <p
            class="animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75"
          >
            Design partners for next-gen tech
          </p> -->
          <p
            class="animated text-2xl md:text-5xl lg:text-7xl font-bold capitalize text-black dark:text-white text-center"
          >
            Design partners <br/> for next-gen tech
          </p>
          <p class="animated text-sm md:text-base lg:text-lg opacity-75">
            From Prototype to Launchpad, Design Solutions to Fuel for Your Tech
            Product
          </p>
          <div
            id="ctaButtons"
            class="animated flex flex-wrap gap-4 justify-center pt-5"
          >
            <a
              href="https://topmate.io/madhuri_basant/852589"
              target="_blank"
              class="py-2 px-4 truncate rounded-full text-md md:text-base border hover:bg-white/80 bg-white blend flex items-center gap-2 text-black"
            >
              Book a Call >
            </a>
            <a
              href="https://wa.me/9155121559"
              target="_blank"
              class="py-2 px-4 truncate text-md md:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend flex items-center gap-2 rounded-full"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="white" viewBox="0 0 448 512"
                ><path
                  d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                ></path></svg
              >
              Chat with us
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-black ">
    <div class="absolute -top-10 h-20 bg-black blur-2xl w-full"></div>
    <section
      class="flex flex-col justify-center  bg-black p-8 md:p-16 space-y-12  md:h-screen"
    >
      <h1 class="text-2xl text-center md:text-3xl text-white font-semibold">
        Growth starts with a strong foundation. <br />We design it, you build on
        it.
      </h1>

      <div
        class="flex flex-col gap-6 md:flex-row items-center md:justify-evenly"
      >
        <div class="w-full md:w-[33.3%] space-y-3">
          <div class="flex justify-center">

              <button class="backdrop-blur-sm bg-white/10 rounded-full p-2 w-14 h-14 grid place-items-center">
                <i
              class="ph ph-lightbulb text-2xl mx-auto bg-gray-400 bg-clip-text text-transparent"
              ></i>
            </button>
          </div>

          <h1 class="text-md text-center font-semibold text-white">
            Big Ideas, Smart Budgets:
          </h1>
          <p class="text-sm text-center">
            I'll work with you to find creative solutions <br />that fit your
            financial picture perfectly.
          </p>
        </div>
        <div class="w-full md:w-[33.3%] space-y-3">
          <div class="flex justify-center">
            <button class="backdrop-blur-sm bg-white/10 rounded-full p-2 w-14 h-14 grid place-items-center">
              <i
            class="ph ph-compass text-2xl mx-auto bg-gray-400 bg-clip-text text-transparent"
            ></i>
          </button>
          </div>

          <h1 class="text-md  text-center font-semibold text-white">
            Creative Compass Check:
          </h1>
          <p class="text-sm text-center">
            Explore our work and see if it's bursting with <br /> creativity and
            inspires excitement for potential collaboration.
          </p>
        </div>
        <div class="w-full md:w-[33.3%] space-y-3">
          <div class="flex justify-center">
            <button class="backdrop-blur-sm bg-white/10 rounded-full p-2 w-14 h-14 grid place-items-center">
              <i
            class="ph ph-handshake text-2xl mx-auto bg-gray-400 bg-clip-text text-transparent"
            ></i>
          </button>
          </div>
          <h1 class="text-md text-center font-semibold text-white">
            Building Trust Under Pressure:
          </h1>
          <p class="text-sm text-center">
            We are experienced in handling high-pressure situations and ensure
            we can maintain focus and deliver quality work under tight
            deadlines.
          </p>
        </div>
      </div>
    </section>

    <section id="" class="h-[200vh] md:h-[150vh] bg-black">
      <TabsComponent client:load />
    </section>
<!-- 
    <section
      class="bg-white flex flex-col justify-around space-y-20 items-center animate text-black p-6 h-auto"
    >
      <div class="space-y-2">
        <h1 class="font-semibold text-4xl md:text-5xl text-center">
          Who benefits from <br /> our services the most?
        </h1>

        <h5 class="text-md md:text-lg text-gray-600 text-center">
          Well, we are not perfect for everyone. <br />Here's who we work with
        </h5>
      </div>

      <div class="flex flex-col md:flex-row justify-center px-10">
        <div class="card border border-gray-300 space-y-5 md:space-y-10">
          <i class="ph ph-rocket-launch text-4xl md:text-6xl"></i>

          <h1 class="font-bold text-2xl md:text-4xl">Startups & VC-funds</h1>
          <p class="text-slate-700">
            We love working on new exciting products. If you need to bring your
            MVP to life, work on your POC or polish an existing product - we're
            here to help! Our app designs break launch records and receive
            stellar ratings. You'll be in good hands.
          </p>
        </div>

        <div
          class="card border border-gray-300 md:border-l-0 space-y-5 md:space-y-10"
        >
          <i class="ph ph-suitcase text-4xl md:text-6xl"></i>
          <h1 class="font-bold text-2xl md:text-4xl">Creative Agencies</h1>
          <p class="text-slate-700">
            We have a really good synergy with SEO and design agencies. You
            don't need to hire a full-time employee and keep him busy; outsource
            your work to us and we’ll most likely exceed your expectations. We
            work with Webflow, Framer, and WordPress.
          </p>
        </div>
      </div>
    </section> -->

    <section>
      <h1 class="text-4xl md:text-6xl text-center font-semibold text-white">Our Works</h1>
      <ParallaxScrollComp/>
    </section>
    
  </div>
</PageLayout>
